doctype html
html
  head
    title= title
    link(rel="icon" type="image/x-icon" class="js-site-favicon" href="/favicon.ico")
    link(rel='stylesheet', href='/css/style.css')
  body
    block content
